img {
  width:360px;
  height:360px
}
h1{
  color:blue;
}
h2 {
  color:blue;
}
h3{
  color:blue;
  
}
#DUKEAWESOME {
  height:349px;
}
marquee{
  color:blue;
  font-size:50px;
}
body{
  background:lightgreen;
  font-family: 'Happy Monkey', cursive;
  }
  